@use 'colors.scss';

*,
html {
    scroll-behavior: smooth !important;
}

body {
    background: colors.$lightgray;
    font: 400 13px/1.8em 'Varela Round', sans-serif;
    margin: 0;
    padding: 0 0 60px;
}

button {
    font-family: 'Varela Round', sans-serif;
}

a,
a:visited {
    cursor: pointer;
    text-decoration: none;
}

div,
h1,
h2,
h3,
blockquote {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

ul,
ol {
    padding-left: 30px;
}

h1,
h2,
h3 {
    letter-spacing: -0.03em;
}

h3 {
    border-bottom: 1px dotted #aaa;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

p {
    font-weight: 400;
    margin: 0 0 10px;
}

img {
    display: block;
    margin: 0;
}

iframe#youtube_iframe { // sass-lint:disable-line no-ids no-qualifying-elements
    width: 100% !important;
}

.cf:before,
.cf:after {
    content: ' ';
    display: table;
}

.cf:after {
    clear: both;
}

.txt-label-maker {
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    background: #000;
    color: #fff;
    display: inline-block;
    font-family: 'Overpass Mono', monospace;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.8em;
    padding: 0 0.3em;
    transform: rotate(-2deg);
}
