/* 
Commonly used styling
*/

@use 'colors.scss' as c;

iframe#youtube_iframe {
    width: 100% !important;
}

.txt-label-maker {
    background: c.$black;
    color: c.$white;
    display: inline-block;
    font-family: 'Overpass Mono', monospace;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.8em;
    padding: 0 0.3em;
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}

.btn {
    background: c.$black;
    display: inline-block;
    cursor: pointer;
    margin: 0 0 1em;
    padding: 0 0.5em;
    color: c.$white;
    text-decoration: none;
    text-transform: capitalize;

    &:visited {
        color: c.$gray;
    }
    
    &:focus {
        outline-color: c.$gray;
    }
}