/* 
Styles for the header
*/

@use 'mediaqueries.scss' as m;
@use 'colors.scss' as c;

header {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    position: relative;
    text-align: center;

    section {
        font-size: 20px;
        max-width: 500px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    img {
        margin: 0 auto;
        width: 80%;
    }

    h1 {
        color: c.$white;
        font-family: 'Overpass Mono', monospace;
        font-weight: 700;
        font-size: 2em;
        line-height: 1.2em;
        -ms-transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);

        a,
        a:visited {
            color: c.$white;
        }
    }

    section h2 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .home-icon-wrapper {
        background-position: 50% 50%;
        background-repeat: none;
        background-size: cover;
        margin: 20px auto 30px;
        max-width: 250px;
    }

    .home-icon-wrapper .spacer {
        padding-bottom: 100%;
        width: 100%;
    }

    @include m.for-medium {  
        background-position: 50% 50%;
    }
}