.posts {
    margin: 0 auto;
    padding: 6% 0 0;
    width: 88%;
}

.page-permalink .posts {
    max-width: 900px;
}

.post {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0 0 6%;
    position: relative;
    width: 100%;
}

.post img {
    background: #fff;
}

.show-lightbox {
    cursor: pointer;
}

.photo-img {
    height: auto !important;
    margin-bottom: 15px;
    width: 100%;
}

.post-notes .avatar {
    margin-right: 10px;
    width: auto;
}

.post-footer {
    padding: 10px 0 0 0;
    text-align: center;
}

.note-count {
    position: relative;
    top: -2px;
}

.note-count,
.like_button,
.reblog_button {
    float: left;
    margin: 0 10px 0 0;
}

.time-ago {
    background: #000;
    display: block;
    padding: 0 0.3em;
    color: #fff;
    float: right;
    text-transform: capitalize;
}

.tags a {
    margin-right: 10px;
}

.text-padding {
    padding-bottom: 40px;

    img {
        height: auto !important;
        margin: 20px 0;
        width: 100%;
    }
}

.photo-set-wrapper {
    background: #000;
    margin-bottom: 15px;
    width: 100%;

    .photo-wrapper {
        float: left;
        /*padding: 0 10px 20px 10px;*/
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
    }

    &,
    iframe {
        min-width: 100%;
        width: 100%;
        *width: 100%;
    }
}

.video-wrapper {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 15px;
    width: 100%;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

#twitter-widget {
    display: none;
    -ms-transform: rotate(-2deg);
    /* IE 9 */
    -webkit-transform: rotate(-2deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-2deg);

    @media (min-width: 960px) {
        display: block;
    }
}