.main-wrapper {
    margin: 0 auto;
    position: relative;
}

.to-top-arrow {
    background: none;
    border: 0;
    bottom: 30px;
    cursor: pointer;
    display: none;
    font-size: 70px;
    position: fixed;
    right: 30px;
    z-index: 100;

    @media (width >= 768px) {
        font-size: 100px;
    }

    @media (width >= 1600px) {
        font-size: 200px;
    }

    &:after {
        content: "^";
    }
}

#page-nav {
    display: none;
}

footer {
    padding: 50px 20px;
    text-align: center;

    .footer-copy {
        margin-top: 20px;
    }
}